<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery"></script>
    <link rel="stylesheet" href="/styles">
    <script src="/js/main.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="login">
            <form action="index" method="post">
                <input type="email" name="email" id="email" class="form-control" placeholder="Ingrese su usuario">
                <input type="password" name="password" id="password" class="form-control" placeholder="Ingrese su password">
    
                <input type="submit" class="btn btn-primary" value="Ingresar" >
                <a href="/signUp" class="btn btn-warning" id="signup">Crear Usuario</a>
            </form>
            
        </div>
    </div>
    
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>