@import url('/fas'); 

body{
    background-color: white;
}

.noticia{
    display: block;
    border: 1px solid red;
    width: 700px;
    min-height: auto;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 10px;
}

.contenido,
#postear{
    width: 80%;
    margin: 0px auto;
    border:1px solid red;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

#post{
    width: 80%;
    margin: 0px auto;
}

#login{
    padding: 180px;
    height: 500px;
    width: 100%;
    border:1px solid red;
}

#login input[type="email"],
#login input[type="password"]{
    margin-bottom: 20px;
}

.fa-heart{
    cursor: pointer;
}

.red{
    color: red;
}

.black{
    color: black;
}

#logout{
    float: right;
    position: relative;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 900px;
    display: block;
}

.avatar_post{
    width: 60px;
    height: 60px;
    border-radius: 900px;
    float: left;
}

#titulo i{
    float: right;
}

#sidebar,
#sidebar .avatar{
    text-align: center;
    margin: 0px auto;
}
a.scroll-top {
	color: #fff;
	display: none;
	width: 30px;
	height: 30px;
	position: fixed;
	z-index: 1000;
	bottom: 50px;
	right: 30px;
	font-size: 20px;
	background: #222;
	border-radius: 3px !important;
	text-align: center;
	border: 1px solid hsla(0, 0%, 78%, 0.3)
}
a.scroll-top i {
	position: relative;
	top: 2px;
}
